<ng-template #divLoading>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="song; else divLoading" class="grid p-2">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title
        >{{ song.title }} ({{ artist?.name || "Unknown Artist" }})
      </mat-card-title>
    </mat-card-header>

    <img
      *ngIf="song.poster; else noImage"
      mat-card-image
      [src]="song.poster"
      alt="song.title"
      class="max-w-30rem"
    />
    <ng-template #noImage>
      <img mat-card-image src="assets/no-image.png" alt="poster" />
    </ng-template>
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <mat-card-subtitle>Genero</mat-card-subtitle>
    <mat-card-content class="mt-2">
      <mat-chip-listbox>
        <mat-chip *ngFor="let genre of song.genre.toString().split(',')">
          {{ genre }}</mat-chip
        >
      </mat-chip-listbox>
    </mat-card-content>

    <mat-card-content>
      <mat-card-title>Compañia Discografica</mat-card-title>
      <!-- <mat-list>
        <mat-list-item> {{ song.year }} </mat-list-item>
        <mat-list-item> {{ song.genre }} </mat-list-item>
        <mat-list-item> {{ song.rating }} </mat-list-item>
        <mat-list-item> {{ song.duration }} </mat-list-item>
      </mat-list> -->

      <button mat-button color="warn" (click)="goBack()">Regresar</button>
    </mat-card-content>
  </mat-card>
</div>
