<h1>{{ "Listado de Canciones" | translate }}</h1>

<mat-divider></mat-divider>

<ng-template #divLoading>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="!isLoading; else divLoading" class="grid bm-8 pt-2">
  <div *ngFor="let song of songs" class="col-12 sm:col-4 md:col-3 xl:col-2 w8">
    <mat-card class="w-full">
      <songs-song-card
        [song]="song"
        [artist]="getArtistById(song.artist)"
      ></songs-song-card>
    </mat-card>
  </div>
</div>
